PORT=3000
MONGO_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/events?retryWrites=true&w=majority 
JWT_SECRET=tusecreto
COOKIE_SECRET=tusecreto
MAIL_HOST=host
MAIL_PORT=port
MAIL_USER=mailuser
MAIL_PASS=mailpass
MAIL_FROM=mailfrom